*{
    padding: 0;
    margin: 0;
}
body{
  
    height: 4000px;
}
.parent1
{
 height:100vh ;
 background-image: url('../imgs/slider.jpg');
 background-size: cover;
 background-position: center;
 display: -webkit-box;
 display: -ms-flexbox;
 display: flex;
 font-family: 'Source Sans Pro', sans-serif;
 margin-bottom:30px;

}
.container1
{
 width: 100%;
 height: 100%;
 background-color: rgba(0,0,0,0.7);
 display: -webkit-box;
 display: -ms-flexbox;
 display: flex;
 -webkit-box-pack: center;
     -ms-flex-pack: center;
         justify-content: center;
 -webkit-box-align: center;
     -ms-flex-align: center;
         align-items: center;
}
.header-div{
    width: 100%;
    height: 50px;
    background-color:#000;
    position: fixed;
    left: 0;
    top: 0;
    font-family: 'Roboto', sans-serif; 
    display: -webkit-box; 
    display: -ms-flexbox; 
    display: flex;
    z-index: 20;
    
}
.header-div .first-tag {
  margin-top: 12px;
}
.header-div .first-tag a {
    text-decoration: none;
    color: #ff305b;
    font-size: 24px;
    font-weight: 800;
  }
 .parent1 .header-div .header-container{
     width: 90%;
     margin: auto;
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;

 }
.header-div .list-parent{
    margin-left:auto;
}
.header-div .list-parent ul{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.header-div .list-parent ul li{
    margin-top: 12px;
}
.header-div .list-parent ul li a
{
    text-decoration: none;
    color: #fff;
    margin-right:20px;
    font-size: 16px;
    -webkit-transition: color 1s ease-out;
    -o-transition: color 1s ease-out;
    transition: color 1s ease-out;
}
.header-div .list-parent ul li a:hover
{
 color: #ff305b;
}
.header-div .list-parent ul li:first-child a{
    color: #ff305b;
}
.parent1 .child
{
    color: #fff;
    text-align: center;
    
}
.parent1 .child h1{
    font-size: 70px;
    color: #ff305b;
    text-transform: uppercase;
    font-weight: bolder;
}
.parent1 .child h3{
   font-size:24px; 
}

.parent1 .child h4,.parent1 .child span{
    font-size: 26px;
    text-transform: capitalize;
    color: #fff;
    font-weight: lighter;
    }
.parent1 .child .head4
{   
    width: 25ch;
    font-size: 2.5rem;
    font-weight: 300;
    white-space: nowrap;
    overflow: hidden;
    border-right:3px solid #fff;
    animation: typing 4s steps(25) infinite alternate;
        
}
@keyframes typing{
  0%
    {
        width: 0ch;
    }
   100%{
    width: 25ch;
    }
}


   .w-100
   {
       width: 100%;
   }
  /* Start styling div2 */
   .parent2
   {
       height: 100vh;
       display: -webkit-box;
       display: -ms-flexbox;
       display: flex;
       -webkit-box-pack: justify;
           -ms-flex-pack: justify;
               justify-content: space-between;
       -webkit-box-align: center;
           -ms-flex-align: center;
               align-items: center;
      }
   .parent2 .child1
   { 
      width: 30%;
      /* padding-right: 50px; */
      /* border: 5px solid #333; */
      position: relative;
      margin-top: 35px;
      }
       .parent2 .child1 .image-div
        {
            position: absolute;
            width: 100%;
            height:100%;
            z-index:13;
            }
    .parent2 .child1 .border-div
             {   
                 position: absolute;;
                 width: 100%;
                 height: 100%;
                 bottom: 20px;
                 right: 20px;
                 border: 6px solid #000;
                 border-radius: 8px;
                 background-color:transparent;
                
             }

   .parent2 .child1 .div-caption
    {
    background-color: rgba(0, 0, 0, 0.6);
     position: absolute;
     bottom: 100%;
     left: 0;
     bottom: -100%;
     width: 100%;
     height: 100%;
     -webkit-transition: bottom 1s;
     -o-transition: bottom 1s;
     transition: bottom 1s;
     z-index: 15;
     visibility: hidden;
    }
    .parent2 .child1 .div-caption .icon-div
    {
        margin: auto;
       display: -webkit-box;
       display: -ms-flexbox;
       display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .parent2 .child1 .div-caption .icon-div i{
     color: #fff;
     margin-right: 20px;
     margin-top: 150px;
    font-size:20px ;
    }
    .parent2 .child1 .div-caption .icon-div i:hover
      {
          color: #ff305b;
      }
    .parent2 .child1:hover .div-caption
    {
      bottom:0%;
       visibility: visible;
    }
   .parent2 .child2
   {
       width: 65%;
     
       
      /* background-color: seagreen; */
   }

   .container
   {
       width: 70%;
       margin: auto;
       display: -webkit-box;
       display: -ms-flexbox;
       display: flex;
       -webkit-box-pack:justify;
           -ms-flex-pack:justify;
               justify-content:space-between;
   }
   .parent2 .child2 .link a{
       text-decoration: none;
       padding: 10px;
       border: transparent;
       color: #fff;
       background-color: #ff305b;
       border-radius: 4px;
   }
   .parent2 .child2 .link .link1
   {
     margin:40px 20px;
     text-decoration: underline;
   }
    .parent2 .child2 .link
   {
       -webkit-transition: all 2s;
       -o-transition: all 2s;
       transition: all 2s;
   }
   .parent2 .child2 .link .link1:hover
   {
      background-color: #EC2403;
      text-decoration: none;
   }
   .parent2 .child2 .link .link2:hover{
    background-color: #EC2403;
   }
   .parent2 .child2 h2{
    font-size: 34px;
    font-weight: 600;
    padding-left: 13px;
    font-weight: 500;
    font-family: 'Source Sans Pro', sans-serif;
    position: relative;
     }
    .parent2 .child2 h2:after {
    background: #ff305b;
    content: "";
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    width: 4px;
    
   }
    .div1-list
    {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
     
    }
    .div2-list
    {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
     
    }
    .div3-list
    {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        padding-bottom: 20px;

    }
    .hr{
   position: relative;
    }
    /* .hr::after
    {
        content: '';
        width: 90%;
         height: 1px; 
        /* background-color: gray;  */
        /* border:1px dashed gray ;
        position: absolute;
        top: 3px;
        left: 0px;
        margin-bottom: 10px;


    }  */
    .dashed
    {
        border-top: 1px dashed gray;
    
    }
     .parent2 .child2 p
    {
        font-family: 'Roboto', sans-serif; 
        color: #333;
        line-height:28px ;  
        padding: 15px 0;
    }

    .parent2 .child2 .list-div ul{
     list-style: none;
    }
    
    .parent2 .child2 .list-div ul li:first-child
     {
        padding: 10px 0px;
      }
     .parent2 .child2 .list-div ul li:last-child{
        padding: 10px 20px;
          }
     .parent2 .child2 .list-div ul li{
        text-align: left;
        font-weight: bold;
        font-family: 'Roboto', sans-serif;
        color: #333;
      }
      .parent2 .child2 .list-div ul li span{
          color: #000;
          font-weight: bolder;
      }
     .parent2 .child2 .list-div ul .div2-list li:last-child{
        padding-left: 70px;
     }
      @media screen and (max-width:576px)
      {
         .parent2 .child1{
           width: 100%;
         }
         .parent2 .child1 .border-div{
             border:none;
         }
         .parent2 .child2{
             font-size: 8px;
             line-height: 0;
         }
         .parent2 .child2 .link .link1{
             width: 8px;
             padding: 10px 0;
         }
         .parent2 .child2 .link .link2{
            width: 10px;
        }
        .parent2 .child2 .list-div ul li span{
            padding-left: 0px 70px;
        }
        .parent2 .child1 .div-caption {
           display: none;
        }
        .parent2 .child1 .div-caption .icon-div i{
            font-size: 8px;
          } 
          
      }
       @media screen and (min-width:577px) and (max-width:768px)
       {
        .parent2 .child2{
            font-size: 10px;
            line-height: 0;
        }
        .parent2 .child1 .border-div{
            border:none;
        }
        .parent2 .child1 .div-caption{
            display: none;
        }
        .parent2 .child1 .div-caption .icon-div i{
          font-size: 12px;
        } 

       }


     /* End styling of div2 */
     
       .parent4
       {
        background-color: #f1f1f1;
        height: 400px;
        text-align: center;
        padding: 60px 0;
       margin-bottom: 100px;
       }
       .parent4 h2
       {
        font-size: 40px;
        font-weight: 800px;
        color: #333;
        padding-bottom: 30px;
        margin-bottom: 40px;
        font-family: 'Source Sans Pro', sans-serif;

       }
       .parent4 .container4
       {
           width: 80%;
           margin: auto;
           position: relative;
       }
       .parent4 .hrr
       {
        border: 1px solid #ff305b;
        width: 8%;
         background-color: #fff;
         position: absolute;
         top:58px ;
         left:45%;
         font-weight: lighter;
       }
       .parent4 .hr1{
        border: 1px solid #ff305b;
        width: 150px;
      background-color: #fff;
      position: absolute;
      top:65px ;
      left:42%;
      font-weight: lighter;
       }
       .parent4 .hr2{
        border: 1px solid #ff305b;
        width: 8%;
         background-color: #fff;
         position: absolute;
         top:73px ;
         left:45%;
         font-weight: lighter;
       }
       .parent4 .div-content
       {
           display: -webkit-box;
           display: -ms-flexbox;
           display: flex;
           -webkit-box-pack: center;
               -ms-flex-pack: center;
                   justify-content: center;
           
       }
       .parent4 .div-content .child{
        padding:30px 10px;
        

       }
       .parent4 .div-content .child h3
       {
        font-size: 24px;
        font-weight: 500;
         margin-bottom: 15px;
         font-family: 'Source Sans Pro', sans-serif;
         color: #333;
       }
       .parent4 .div-content .child p{
        font-family: 'Roboto', sans-serif;
        color: #333;
        line-height: 24px;
       }
       .parent4 .div-content .child i{
           color: #ff305b;
           padding: 15px;
           font-size: 25px;
       }
       
       .parent4 .div-content .child:hover
       {
           background-color: #fff;
        }
        .parent4 .div-content .child:hover i{
            -webkit-transform: scale(1.5);
                -ms-transform: scale(1.5);
                    transform: scale(1.5);
        }
        @media screen and (max-width:576px)
        {
            .parent4 .div-content .child{
                width: 100%;
            }
            .parent4 .div-content{
                font-size: 10px;
            }
            .parent4 .div-content .child i{
                font-size: 10px;
            }
            .parent4 .div-content .child h2{
                font-size: 12px;
            }

        }
        @media screen and (min-width:577px) and (max-width:768px)
        {
            .parent4 .div-content{
                font-size: 12px;
            }
            .parent4 .div-content .child h2{
                font-size: 12px;
            }
            .parent4 .div-content .child i{
                font-size: 15px;
            }

        }


     /* End styling of div3 */
     .parent3{
         background-color: #fff;
         text-align: center;

     }
     .parent3 h2
     {
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 40px;
        color: #333;
        position: relative;
        padding-bottom: 40px;
        font-weight: 510;
     }
     .parent3 .hrr
     {
     border: 1px solid #ff305b;
     width: 8%;
      background-color: #fff;
      position: absolute;
      top:58px ;
      left:45%;
      font-weight: lighter;
     }
     /* .parent3 h2::after
     {
         content: "";
         background-color: #ff305b;
         width:8%;
         height: 1px;
         position: absolute;
         top: 65%;
         left: 45%;
        } */
     .parent3 ul{
        list-style: none;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        padding-bottom: 40px;
     }
     .parent3 ul li{
     padding:20px 10px;
     font-size: 16px;
     color: #000;
     letter-spacing: 1px;
     font-weight: 600;
     text-transform: uppercase;
     font-family: 'Roboto', sans-serif; 

     }
     .parent3 ul li:first-child
     {
         color:#ff305b ;
     }
    .parent3 .chh
    {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -ms-flex-line-pack: justify;
          align-content: space-between;
    }
    .parent3 .chh .child{
      width: 32%;
    }
    .parent3 .chh .child
    { 
        margin-bottom: 30px;
        position: relative;
        
    }
    .parent3 .chh .child .opacity-div
    {
      background-color:rgba(0, 0, 0, 0.7);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      -webkit-transition: all 2s;
      -o-transition: all 2s;
      transition: all 2s;
      opacity: 0;
    }
    .parent3 .chh .child:hover .opacity-div
    {
        opacity: 1;
    }

   .parent3 .container3
    {
        width: 80%;
        margin: auto;
        position: relative;
    }
    .parent3 .hr1
    {
      border: 1px solid #ff305b;
      width: 150px;
    background-color: #fff;
    position: absolute;
    top:65px ;
    left:42%;
    font-weight: lighter;
    }
    .parent3 .hr2
    {
      border: 1px solid #ff305b;
     width: 8%;
      background-color: #fff;
      position: absolute;
      top:73px ;
      left:45%;
      font-weight: lighter;
    }
    .parent3 .chh .child .opacity-div{
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: end;
          -ms-flex-pack: end;
              justify-content: flex-end;
      -webkit-box-align: end;
          -ms-flex-align: end;
              align-items: flex-end;
      
    }
    .parent3 .chh .child .opacity-div .portfolio-view i{
      color: #ff305b;
       padding: 8px 8px;
    }
    /* End styling div4 */
 .parent5
 {
     background-color: #f1f1f1;
     text-align: center;
     height: 300px;
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     font-family: 'Source Sans Pro', sans-serif;
      margin-top: 40px;
    }
 .parent5 .child
 {
   padding: 50px 0px;
 }
 .parent5 .child i
 {
     font-size: 25px;
     color: #ff305b;
     padding-bottom:10px ;
 }
 .parent5 .child h3
 {
     padding-bottom: 10px;
 }
 .parent5 .child h5{
     color: #333;
     font-size:16px;
 }

 .container5{
     width: 50%;
     margin: auto;
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     -webkit-box-orient: horizontal;
     -webkit-box-direction: normal;
         -ms-flex-direction: row;
             flex-direction: row;
     -webkit-box-pack: justify;
         -ms-flex-pack: justify;
             justify-content: space-between;
     -webkit-box-align: center;
         -ms-flex-align: center;
             align-items: center;
 }
 @media screen and (max-width:576px)
 {
    .parent5 .child{
        font-size: 12px;
        width: 100%;
        padding-left: 10px;
    }
    .parent5 .child h5{
        font-weight: lighter;
    }
 }
 @media screen and (min-width:577px) and (max-width:768)
 {
    .parent5 .child{
        font-size: 15px;
        width: 100%;
        padding-left: 10px;
    }
 }
  /* End styling div5 */
/* Start div6 */
.parent6
  {
     position: relative;
      padding: 35px 0;
      height: 400px;

  }
  .parent6 .hrr{
    border: 1px solid #ff305b;
    width: 8%;
     background-color: #fff;
     position: absolute;
     top:55px ;
     left:45%;
     font-weight: lighter;
  }
  .parent6 .hr1{
  border: 1px solid #ff305b;
  width: 150px;
  background-color: #fff;
  position: absolute;
  top:63px ;
  left:40.5%;
  font-weight: lighter;
  }
   .parent6 .hr2{
    border: 1px solid #ff305b;
    width: 8%;
     background-color: #fff;
     position: absolute;
     top:70px ;
     left:45%;
     font-weight: lighter;
   }
  .parent6 h2
  {
      text-align: center;
      font-family: 'Source Sans Pro', sans-serif;
      color: #333;
      font-size: 30px;
      font-weight: 900;
      margin-bottom: 50px;
    
  }
  .container6
  {
      width: 60%;
      margin: auto;
      position: relative;
      overflow: hidden;
  }
  .parent6 .pp
  {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;

      
}
   .parent6 .pp{
       background-color: #f1f1f1;
       position: relative;
       overflow: hidden;
       }
  .parent6 .pp .image-div img{
      border-radius: 50%;
      /* padding-right:30px ; */
      margin-bottom: 50px;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
    }
  .parent6 .pp .image-div{
      margin: 0px 20px;
      margin-top: 25px ;
      position: relative;
      overflow: hidden;
      z-index: 1;
     
     }

  .parent6 .pp .extra-div{
      background-color: #ff305b;
      position: absolute;
      bottom: 55%;
      left: -26%;
      width:60%;
      height: 58%;
      -webkit-transform: rotate(-40deg);
          -ms-transform: rotate(-40deg);
              transform: rotate(-40deg);
      
     }
  .parent6 .pp .content-div
  {
    padding:30px 25px ;

  }
  .parent6 .pp .content-div h3{
    font-family: 'Source Sans Pro', sans-serif;
    padding-bottom: 15px;
    font-size: 20px;
    color: #333;
  }
  .parent6 .pp .content-div h4{
    font-family: 'Source Sans Pro', sans-serif;
    padding-bottom: 15px;
  }
  .parent6 .pp .content-div h4 a{
      text-decoration: none;
      color: #333;
  }
  .parent6 .pp .content-div p
  {
    font-family: 'Roboto', sans-serif; 
    line-height: 30px;
    color: #333;
    padding-bottom: 15px;
  }
  .parent6 .pp .content-div .review
  {
      color: yellow;
      margin-bottom: 10px;
  }
  @media screen and (max-width:576px){
     .parent6 h2{
         font-size: 15px;
     }
    .parent6 .pp .extra-div{
          display: none;
      }
      .parent6 .image-div img{
          width: 40px;
          height: 40px;
          margin-top: 50px;
          margin-right: 40px;
        margin-left: 0px; }
          .parent6 .pp .content-div{
              font-size: 5px;
             
          }
  }
  @media screen and (min-width:577px) and (max-width:768px)
  {
       .parent6 .pp .extra-div{
        display: none;
    }
    .parent6 .pp .content-div{
        font-size: 10px;
      }
      .parent6 .image-div img{
        width: 60px;
        height: 60px;
        margin-top: 50px;
        margin-right: 40px;
      margin-left: 0px; }
  }
  
/* End styling div6 */

/* Start styling div7 */
.parent7
{
    background-color: #f1f1f1;
    height: 700px;
    position: relative;
}
.parent7 .div-contain
{
 display: -webkit-box;
 display: -ms-flexbox;
 display: flex;
 -webkit-box-pack: justify;
     -ms-flex-pack: justify;
         justify-content: space-between;
 -webkit-box-align: center;
     -ms-flex-align: center;
         align-items: center;

 } 
 .parent7 h2
 {   
     text-align: center;
      color: #444;
      font-weight: 900;
      font-size: 30px;
      padding: 70px 0px;
     font-family: 'Source Sans Pro', sans-serif;
 }
.parent7 .hrrr{
    border: 1px solid #ff305b;
    width: 7%;
     background-color: #fff;
     position: absolute;
     top:112px ;
     left:46%;
     font-weight: lighter;
}
.parent7 .hrr1{
    border: 1px solid #ff305b;
    width: 150px;
    background-color: #fff;
    position: absolute;
    top:120px ;
    left:43.5%;
    font-weight: lighter;
}
.parent7 .hrr2{
    border: 1px solid #ff305b;
    width: 7%;
     background-color: #fff;
     position: absolute;
     top:130px ;
     left:46%;
     font-weight: lighter;
}
.container7
{
    width: 80%;
    margin:auto ;
    position: relative;
}
.parent7 .div-contain .image-div , .parent7 .div-contain .video-div
{
 margin-bottom: 20px;
}
.parent7 .div-contain .post-content .post-meta
{
    margin-bottom: 8px;
}
.parent7 .div-contain .post-content h3 a{
    text-decoration: none;
    margin-bottom: 8px;
    color: #000;
    -webkit-transition: all 1s ease-in;
    -o-transition: all 1s ease-in;
    transition: all 1s ease-in;
}
.parent7 .div-contain .post-content h3 a:hover
{
    color: #ff305b;
}
.parent7 .div-contain .post-content{
    padding: 15px 20px;
    background-color: #fff;
}
.parent7 .div-contain .post-content h3{
    font-family: 'Source Sans Pro', sans-serif;
    color: #333;
    font-size: 24px;
    font-weight: lighter;
 }


.parent7 .div-contain .image-div,.parent7 .div-contain .video-div
{
    background-color: #fff;
    margin-bottom: 0;

}
.parent7 .post-content .post-meta{
    color: #222;
    font-size: 17px;
    font-weight: 500;
    margin-top: 10px;
    font-family: 'Roboto', sans-serif; 
}

.parent7 .div-contain .post-content p{
    line-height: 25px;
    font-size: 17px;
    color: #444;
    margin: 10px 0px;
}

.parent7 .div-contain .post-read a{
    text-decoration: none;
    color: #000;
    font-size: 17px;
    font-family: 'Roboto', sans-serif; 
    -webkit-transition: color 1s ease-in; 
    -o-transition: color 1s ease-in; 
    transition: color 1s ease-in;
}
.parent7 .div-contain .post-read a:hover{
    color: #ff305b;
}
.parent7 .div-contain1,.parent7 .div-contain2,.parent7 .div-contain3{
    width: 32%;
}
@media screen and (max-width:576px)
{
    .parent7{
        margin-bottom: 200px;
        margin-left: 0px;
    }
    .parent7 .div-contain .post-content{
        font-size: 5px;
        line-height: 20px;
        font-weight: lighter;
    }
 .parent7 .div-contain .div-contain1{
     width:100%;
 }
 .parent7 .div-contain .div-contain2
 {
     width: 50%;
 }
 .parent7 .div-contain .div-contain2 .video-div video{
     width: 50px;
 }

}
@media screen and (min-width:577px) and (max-width:768px)
{
    .parent7{
        height: 800px;
       margin-bottom: 200px;
        margin-left: 0px;
    }
    .parent7 .div-contain .post-content{
        font-size: 3px;
        line-height: 20px;
        font-weight: lighter;
    }
 .parent7 .div-contain .div-contain2 .video-div video{
        width: 50px;
    }
    .parent7 .div-contain .div-contain2
 {
     width: 80%;
 }
}
/* End styling div7 */

/*Start styling div8 */
.parent8{
   position: relative;
   height: 390px;
}
.parent8 h2{
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    margin-top: 90px;
    margin-bottom: 40px;
}
.parent8 .hrr{
    border: 1px solid #ff305b;
    width: 8%;
     background-color: #fff;
     position: absolute;
     top:40px ;
     left:45%;
     font-weight: lighter;
}
.parent8 .hr1{
    border: 1px solid #ff305b;
    width: 150px;
    background-color: #fff;
    position: absolute;
    top:48px ;
    left:43.5%;
    font-weight: lighter;
}
.parent8 .hr2{
    border: 1px solid #ff305b;
    width: 8%;
     background-color: #fff;
     position: absolute;
     top:55px ;
     left:45%;
     font-weight: lighter;
}
 .parent8 .div-input1 input {
    font-family: 'Roboto', sans-serif;
    width:173 ; 
    height: 30;
    margin-bottom: 20px;
    padding-right:30px ;
 }
 .parent8 .div-input1 input:first-child
 {
     margin-right: 15px;
 }
.parent8 .div-input2 input
{
    width: 368;
    height: 30;
    font-family: 'Roboto', sans-serif; 
    margin-bottom: 20px;
}
.parent8 .textarea-div textarea{
    width: 368;
    height: 80;
    margin-bottom: 20px;
}
.parent8 .div-btn input{
    color: #fff;
    background-color: #ff305b;
    border: none;
    padding: 8px 10px;
    border-radius:4px;
    text-align: left;
    font-family: 'Roboto', sans-serif; 
    text-transform: uppercase;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}
.parent8 .div-btn input:hover
{
    background-color: #EC2403;
}
.parent8 .parent-form-div{
    margin-top:55px ;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
 /* End styling div8 */

/* Start styling div9 */
 .parent9{
     background-color: #333;
     height: 200px;
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     -webkit-box-orient: horizontal;
     -webkit-box-direction: normal;
         -ms-flex-direction: row;
             flex-direction: row;
     -webkit-box-pack: center;
         -ms-flex-pack: center;
             justify-content: center;
     -webkit-box-align: center;
         -ms-flex-align: center;
             align-items: center;
 }
 .parent9 .footer-parent .div-icon{
     text-align:center ;
     margin-bottom: 20px;
 }
 .parent9 .footer-parent .div-icon a{
     text-decoration: none;
     margin-right: 20px;

 }
 .parent9 .footer-parent .div-icon a i
 {
     color: #fff;
     -webkit-transition: color 1s ease-out;
     -o-transition: color 1s ease-out;
     transition: color 1s ease-out;
  }
  .parent9 .footer-parent .div-icon a i:hover
  {
      color: #ff305b;
  }
  .parent9 .footer-parent{
      color: #fff;
      font-family: 'Roboto', sans-serif; 
  }

  .parent9 .footer-parent .content-div a{
  
   text-decoration: none;
   color: #ff305b;
  }
  .parent9 .footer-parent .content-div a:hover
  {
      text-decoration: underline;
   }
   .parent9 .footer-parent .content-div p{
       font-size: 18px;
       font-weight: 500;
   }



/*End styling div9 */